@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
* {
  margin: 0;
  padding: 0;
  /*background-color: #27282D;*/ }

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f2023; }
  header h1 {
    padding: 0.5%;
    font-size: 95px;
    letter-spacing: 20px;
    width: 100vw;
    text-align: center;
    color: azure;
    font-family: 'Luckiest Guy', cursive;
    animation-name: animacionLogo;
    animation-duration: 10s;
    animation-iteration-count: infinite; }

@keyframes animacionLogo {
  0% {
    color: azure;
    text-shadow: 0 0 20px #f0578a; }
  25% {
    color: #f0578a;
    text-shadow: none; }
  50% {
    color: azure;
    text-shadow: 0 0 20px #f0578a; }
  75% {
    color: #f0578a;
    text-shadow: none; } }
  header .menu a {
    color: azure;
    font-family: 'Luckiest Guy', cursive;
    font-size: 25px;
    letter-spacing: 5px; }
  header a.nav-link.active {
    font-size: 28px;
    color: #f0578a; }
  header .menu a:hover {
    text-shadow: 0 0 20px #f0578a;
    color: azure; }
  header .navbar-toggler:hover {
    box-shadow: 0 0 20px #f0578a; }

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #1f2023; }
  aside .navbar-toggler:hover {
    box-shadow: 0 0 20px #f0578a; }
  aside .collapse {
    width: 100%; }
    aside .collapse h2 {
      width: 100%;
      padding: 1%;
      text-align: center;
      color: azure;
      font-family: 'Luckiest Guy', cursive;
      font-size: 35px;
      letter-spacing: 4px; }
    aside .collapse .asideflex {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%; }
      aside .collapse .asideflex .contenedor {
        display: flex;
        flex-direction: column;
        align-items: center; }
        aside .collapse .asideflex .contenedor p {
          width: 20vw;
          padding: 1%;
          text-align: center;
          color: azure;
          font-family: 'Luckiest Guy', cursive;
          font-size: 20px;
          letter-spacing: 4px; }
        aside .collapse .asideflex .contenedor .asidevideo {
          border-radius: 20px;
          box-shadow: 0 0 25px cornsilk; }
      aside .collapse .asideflex .asidevideo:hover {
        transform: scale(1.2);
        box-shadow: 0 0 20px #f0578a; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1f2023;
  width: 100%; }
  footer p {
    color: azure;
    font-family: 'Luckiest Guy', cursive;
    font-size: 25px;
    letter-spacing: 3px;
    text-align: center; }
  footer .foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%; }
    footer .foot .mapa {
      border-radius: 20px;
      box-shadow: 0 0 10px cornsilk;
      border-collapse: collapse; }
    footer .foot .mapa:hover {
      transform: scale(1.05);
      box-shadow: 0 0 20px #f0578a; }
  footer .redes {
    display: flex;
    flex-direction: row; }
    footer .redes i {
      box-shadow: 0 0 10px cornsilk;
      border-collapse: collapse;
      margin: 20px;
      font-size: 35px;
      color: azure;
      padding: 10px;
      border: 1px azure solid;
      border-radius: 50%; }
    footer .redes i:hover {
      transform: scale(1.05);
      box-shadow: 0 0 10px #f0578a; }

/*********** header para 475px **********/
@media (max-width: 475px) {
  header h1 {
    font-size: 40px;
    letter-spacing: 10px;
    margin-top: 10px; }
  header .collapse .menu {
    flex-wrap: nowrap; }
    header .collapse .menu a {
      font-size: 15px;
      letter-spacing: 1px;
      padding: 10px; }
  /*********** aside para 475px **********/
  aside .collapse h2 {
    font-size: 25px;
    letter-spacing: 3px; }
  aside .collapse .asideflex {
    flex-direction: column; }
    aside .collapse .asideflex .contenedor p {
      width: 80vw;
      letter-spacing: 2px;
      margin-top: 25px; }
    aside .collapse .asideflex .contenedor .asidevideo {
      border-radius: 20px;
      height: 200px; }
    aside .collapse .asideflex .asidevideo:hover {
      transform: scale(1.2);
      box-shadow: 0 0 20px #f0578a; }
  /*********** footer para 475px **********/
  footer {
    flex-direction: column; }
    footer p {
      margin-top: 20px;
      font-size: 20px; } }

.inicio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background-color: #27282D; }
  .inicio .carta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 20px;
    box-shadow: 0 0 25px cornsilk;
    border-collapse: collapse;
    width: 35vw;
    height: 30vw; }
  .inicio .carta:hover {
    transform: scale(1.05);
    background: #393b43;
    box-shadow: 0 0 20px #f0578a; }
  .inicio .imginicio {
    width: 400px; }
  .inicio .sec {
    color: azure;
    margin: 5%;
    padding: 0.5%;
    font-size: 55px;
    letter-spacing: 20px;
    width: auto;
    text-align: center;
    font-family: 'Luckiest Guy', cursive; }
  .inicio .sec:hover {
    color: #f0578a; }

/*********** index para 475px **********/
@media (max-width: 475px) {
  .inicio {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .inicio .carta {
      flex-direction: column;
      width: 80vw;
      height: 70vw; }
    .inicio .imginicio {
      width: 300px; }
    .inicio .sec {
      font-size: 35px;
      letter-spacing: 5px; }
    .inicio .sec:hover {
      color: #f0578a; } }

.wallets {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #27282D;
  width: 100%; }
  .wallets h2 {
    color: azure;
    font-size: 55px;
    letter-spacing: 10px;
    word-spacing: 30px;
    font-family: 'Luckiest Guy', cursive;
    margin: 2% 2% 2% 2%; }
  .wallets .sec {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; }
    .wallets .sec .cards {
      display: flex;
      flex-direction: row;
      width: 100%; }
      .wallets .sec .cards .card {
        width: 15vw;
        height: 25vw;
        margin: 2% 2% 2% 2%;
        border-radius: 20px;
        background-color: #27282D;
        box-shadow: 0 0 15px cornsilk;
        border-collapse: collapse; }
        .wallets .sec .cards .card img {
          border-radius: 20px;
          width: 100%;
          height: 11vw; }
        .wallets .sec .cards .card .cardBody {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          text-align: center;
          height: 50%;
          font-family: 'Luckiest Guy', cursive;
          color: azure; }
          .wallets .sec .cards .card .cardBody h5 {
            margin: 5%;
            font-size: 18px;
            letter-spacing: 3px; }
          .wallets .sec .cards .card .cardBody p {
            width: 12vw;
            padding: 1%;
            font-size: 20px;
            letter-spacing: 1px; }
          .wallets .sec .cards .card .cardBody a {
            text-decoration: none;
            color: azure;
            width: 125px;
            height: 40px;
            border-radius: 10px;
            box-shadow: 0 0 10px cornsilk;
            border-collapse: collapse;
            padding: 10px; }
          .wallets .sec .cards .card .cardBody a:hover {
            transform: scale(1.05);
            background: #393b43;
            box-shadow: 0 0 20px #f0578a; }
      .wallets .sec .cards .card:hover {
        transform: scale(1.05);
        background: #393b43;
        box-shadow: 0 0 20px #f0578a; }
  .wallets .sec:hover {
    background: #393b43; }

.swaps {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #27282D;
  width: 100%; }
  .swaps h2 {
    color: azure;
    font-size: 55px;
    letter-spacing: 10px;
    word-spacing: 30px;
    font-family: 'Luckiest Guy', cursive;
    margin: 2% 2% 2% 2%; }
  .swaps .cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 3%; }
    .swaps .cards .card {
      width: 15vw;
      height: 31vw;
      margin: 2% 2% 2% 2%;
      border-radius: 20px;
      background-color: #27282D;
      box-shadow: 0 0 15px cornsilk;
      border-collapse: collapse; }
      .swaps .cards .card img {
        border-radius: 20px;
        width: 100%;
        height: 50%; }
      .swaps .cards .card .cardBody {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        height: 50%;
        font-family: 'Luckiest Guy', cursive;
        color: azure; }
        .swaps .cards .card .cardBody h5 {
          margin: 5%;
          font-size: 18px;
          letter-spacing: 3px; }
        .swaps .cards .card .cardBody p {
          width: 12vw;
          padding: 1%;
          font-size: 20px;
          letter-spacing: 4px; }
        .swaps .cards .card .cardBody a {
          text-decoration: none;
          color: azure;
          width: 125px;
          height: 40px;
          border-radius: 10px;
          box-shadow: 0 0 10px cornsilk;
          border-collapse: collapse;
          padding: 10px;
          letter-spacing: 2px; }
        .swaps .cards .card .cardBody a:hover {
          transform: scale(1.05);
          background: #393b43;
          box-shadow: 0 0 20px #f0578a; }
    .swaps .cards .card:hover {
      transform: scale(1.05);
      background: #393b43;
      box-shadow: 0 0 20px #f0578a; }
  .swaps .sec:hover {
    background: #393b43; }

.exchanges {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #27282D; }
  .exchanges h2 {
    color: azure;
    font-size: 55px;
    letter-spacing: 10px;
    word-spacing: 30px;
    margin-top: 2%;
    font-family: 'Luckiest Guy', cursive;
    text-align: center; }
  .exchanges .wrapper {
    display: flex;
    flex-direction: row;
    padding: 5%;
    width: 100%;
    height: 100%;
    perspective: 900px; }
  .exchanges .container {
    width: 25vw;
    transform: rotateX(40deg) scale(0.9); }
  .exchanges img {
    width: 25vw;
    box-shadow: 0 0 25px cornsilk;
    border-radius: 20px; }
  .exchanges img:hover {
    box-shadow: 0 0 20px #f0578a; }
  .exchanges .container:hover {
    cursor: pointer;
    transform: rotate(0deg) scale(1.2) translateY(10px);
    transition: .5s all ease;
    z-index: 400; }

.explorers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.6fr 2.3fr;
  background-color: #27282D;
  grid-auto-flow: column;
  grid-template-areas: "titulo titulo titulo titulo titulo" "pos1 pos2 pos3 pos4 pos5"; }
  .explorers .titulo {
    grid-area: titulo; }
  .explorers .pos1 {
    grid-area: pos1; }
  .explorers .pos2 {
    grid-area: pos2; }
  .explorers .pos3 {
    grid-area: pos3; }
  .explorers .pos4 {
    grid-area: pos4; }
  .explorers .pos5 {
    grid-area: pos5; }
  .explorers h2 {
    color: azure;
    font-size: 55px;
    letter-spacing: 10px;
    word-spacing: 30px;
    margin-top: 2%;
    font-family: 'Luckiest Guy', cursive;
    text-align: center; }
  .explorers .card {
    width: 15vw;
    height: 27vw;
    margin: 10%;
    border-radius: 20px;
    background-color: #27282D;
    box-shadow: 0 0 15px cornsilk;
    border-collapse: collapse; }
    .explorers .card img {
      border-radius: 20px;
      width: 100%;
      height: 50%; }
    .explorers .card .cardBody {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      height: 50%;
      font-family: 'Luckiest Guy', cursive;
      color: azure; }
      .explorers .card .cardBody h5 {
        margin: 5%;
        font-size: 18px;
        letter-spacing: 3px; }
      .explorers .card .cardBody p {
        width: 12vw;
        padding: 1%;
        font-size: 20px;
        letter-spacing: 4px; }
      .explorers .card .cardBody a {
        text-decoration: none;
        color: azure;
        width: 125px;
        height: 40px;
        border-radius: 10px;
        box-shadow: 0 0 10px cornsilk;
        border-collapse: collapse;
        padding: 10px;
        letter-spacing: 2px; }
      .explorers .card .cardBody a:hover {
        transform: scale(1.05);
        background: #393b43;
        box-shadow: 0 0 20px #f0578a; }
  .explorers .card:hover {
    transform: scale(1.05);
    background: #393b43;
    box-shadow: 0 0 20px #f0578a; }
