.exchanges {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:$bgcolor3;

    & h2 {
        color: $colortext;
        font-size: 55px;
        letter-spacing: 10px;
        word-spacing: 30px;
        margin-top: 2%;
        font-family: $textFont;
        text-align: center;
    }

    & .wrapper {
        display: flex;
        flex-direction: row;
        padding: 5%;
        width: 100%;
        height: 100%;
        perspective: 900px;
    }

    .container {
        width: 25vw;
        transform: rotateX(40deg) scale(0.9);
    }

    & img {
        width: 25vw;
        box-shadow: 0 0 25px cornsilk;
        border-radius: 20px;
    }

    img:hover {
        box-shadow:$hoverShadow20px;
    }

    .container:hover {
        cursor: pointer;
        transform: rotate(0deg) scale(1.2) translateY(10px);
        transition: .5s all ease;
        z-index: 400;

    }
}

/********* exchanges para 475px ***********/
@media (max-width: 475px) {

    .exchanges {
        width: 100%;

        & h2 {
            font-size: 25px;
            letter-spacing: 6px;
            margin-top: 5%;
        }

        & .wrapper {
            display: flex;
            flex-direction: column;
            padding: 5%;
            margin-left: 15%;

           & .container {
                width: 100%;

                & img {
                    width: 80%;
                }
            }
        }
    }
}