.explorers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 2.3fr;
    background-color: $bgcolor3;
    grid-auto-flow: column;
    grid-template-areas:
        "titulo titulo titulo titulo titulo"
        "pos1 pos2 pos3 pos4 pos5";


    .titulo {
        grid-area: titulo;
    }

    .pos1 {
        grid-area: pos1;
    }

    .pos2 {
        grid-area: pos2;
    }

    .pos3 {
        grid-area: pos3;
    }

    .pos4 {
        grid-area: pos4;
    }

    .pos5 {
        grid-area: pos5;
    }

    & h2 {
        color:$colortext;
        font-size: 55px;
        letter-spacing: 10px;
        word-spacing: 30px;
        margin-top: 2%;
        font-family: $textFont;
        text-align: center;
    }

    & .card {
        width: 15vw;
        height: 27vw;
        margin: 10%;
        border-radius: 20px;
        background-color: $bgcolor1;
        box-shadow: 0 0 15px cornsilk;
        border-collapse: collapse;

        & img {
            border-radius: 20px;
            width: 100%;
            height: 50%;
        }

        & .cardBody {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            height: 50%;
            font-family: $textFont;
            color: $colortext;

            & h5 {
                margin: 5%;
                font-size: 18px;
                letter-spacing: 3px;
            }

            & p {
                width: 12vw;
                padding: 1%;
                font-size: 20px;
                letter-spacing: 4px;
            }

            & a {
                text-decoration: none;
                color:$colortext;
                width: 125px;
                height: 40px;
                border-radius: 10px;
                box-shadow:$shadow10px;
                border-collapse: collapse;
                padding: 10px;
                letter-spacing: 2px;
            }

            a:hover {
                transform: scale(1.05);
                background: $bgcolor2;
                box-shadow:$hoverShadow20px;
            }
        }
    }

    .card:hover {
        transform: scale(1.05);
        background: $bgcolor2;
        box-shadow:$hoverShadow20px;
    }
}


 /************ explorers para 475px *************/
@media (max-width: 475px) {
    .explorers {
        padding: 5%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        background-color: #27282D;
        grid-auto-flow: column;
        grid-template-areas:
            "titulo titulo"
            "pos1 pos2"
            "pos3 pos4"
            "pos5 .";


        .titulo {
            grid-area: titulo;
        }

        .pos1 {
            grid-area: pos1;
        }

        .pos2 {
            grid-area: pos2;
        }

        .pos3 {
            grid-area: pos3;
        }

        .pos4 {
            grid-area: pos4;
        }

        .pos5 {
            grid-area: pos5;
        }

        & h2 {
            font-size: 20px;
            letter-spacing: 3px;
            word-spacing: 5px;
            margin-top: 5%;
        }

        & .card {
            justify-content: space-between;
            width: 40vw;
            height: 270px;
            margin-left: 7%;

            & .cardBody {

                height: auto;

                & h5 {
                    margin: 5%;
                    font-size: 15px;
                    letter-spacing: 3px;
                }

                & p {
                    width: 40vw;
                    font-size: 15px;
                    letter-spacing: 4px;
                }

                & a {
                    width: 100px;
                    height: 30px;
                    padding: 4px;
                    letter-spacing: 2px;
                    margin-bottom: 5%;
                }
            }
        }
    }
}