header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bgcolor1;

    & h1 {
        padding: 0.5%;
        font-size: 95px;
        letter-spacing: 20px;
        width: 100vw;
        text-align: center;
        color: $colortext;
        font-family: $textFont;
        animation-name: animacionLogo;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

    @keyframes animacionLogo {
        0% {
            color: $colortext;
            text-shadow:$hoverShadow20px;
        }

        25% {
            color: rgb(240, 87, 138);
            text-shadow: none;
        }

        50% {
            color: $colortext;
            text-shadow:$hoverShadow20px;
        }

        75% {
            color: rgb(240, 87, 138);
            text-shadow: none;
        }
    }

    .menu a {
        color: $colortext;
        font-family: $textFont;
        font-size: 25px;
        letter-spacing: 5px;
    }

    a.nav-link.active {
        font-size: 28px;
        color: rgb(240, 87, 138);

    }

    .menu a:hover {
        text-shadow:$hoverShadow20px;
        color: $colortext;
    }

    .navbar-toggler:hover {
        box-shadow:$hoverShadow20px;
    }
}


aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $bgcolor1;

    & .navbar-toggler:hover {
        box-shadow:$hoverShadow20px;
    }

    & .collapse {
        width: 100%;

        & h2 {
            width: 100%;
            padding: 1%;
            text-align: center;
            color: $colortext;
            font-family: $textFont;
            font-size: 35px;
            letter-spacing: 4px;
        }

        & .asideflex {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;

            & .contenedor {
                display: flex;
                flex-direction: column;
                align-items: center;

                & p {
                    width: 20vw;
                    padding: 1%;

                    text-align: center;
                    color: $colortext;
                    font-family: $textFont;
                    font-size: 20px;
                    letter-spacing: 4px;
                }

                & .asidevideo {
                    border-radius: 20px;
                    box-shadow: 0 0 25px cornsilk;
                }
            }

            .asidevideo:hover {
                transform: scale(1.2);
                box-shadow:$hoverShadow20px;
            }

        }


    }
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: $bgcolor1;
    width: 100%;

    & p {
        color: $colortext;
        font-family: $textFont;
        font-size: 25px;
        letter-spacing: 3px;
        text-align: center;
    }

    & .foot {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2%;


        & .mapa {
            border-radius: 20px;
            box-shadow: 0 0 10px cornsilk;
            border-collapse: collapse;
        }

        .mapa:hover {
            transform: scale(1.05);
            box-shadow:$hoverShadow20px;
        }
    }

    & .redes {
        display: flex;
        flex-direction: row;

        & i {
            box-shadow: 0 0 10px cornsilk;
            border-collapse: collapse;
            margin: 20px;
            font-size: 35px;
            color: $colortext;
            padding: 10px;
            border: 1px $colortext solid;
            border-radius: 50%;
        }

        i:hover {
            transform: scale(1.05);
            box-shadow: 0 0 10px rgb(240, 87, 138);
        }
    }

}

/*********** header para 475px **********/
@media (max-width: 475px) {
    header {

        & h1 {
            font-size: 40px;
            letter-spacing: 10px;
            margin-top: 10px;
        }

        .collapse {

            .menu {
                flex-wrap: nowrap;

                & a {
                    font-size: 15px;
                    letter-spacing: 1px;
                    padding: 10px;
                }
            }
        }
    }

    /*********** aside para 475px **********/
    aside {

        & .collapse {

            & h2 {
                font-size: 25px;
                letter-spacing: 3px;
            }

            & .asideflex {
                flex-direction: column;

                & .contenedor {

                    & p {
                        width: 80vw;
                        letter-spacing: 2px;
                        margin-top: 25px;
                    }

                    & .asidevideo {
                        border-radius: 20px;
                        height: 200px;
                    }
                }

                .asidevideo:hover {
                    transform: scale(1.2);
                    box-shadow:$hoverShadow20px;
                }
            }
        }
    }

    /*********** footer para 475px **********/
    footer {
        flex-direction: column;
       
        & p {
            margin-top: 20px;
            font-size: 20px;
        }
    }

}