.inicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    background-color: $bgcolor3;

    & .carta {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
        border-radius: 20px;
        box-shadow: 0 0 25px cornsilk;
        border-collapse: collapse;
        width: 35vw;
        height: 30vw;
    }

    .carta:hover {
        transform: scale(1.05);
        background: $bgcolor2;
        box-shadow: 0 0 20px rgb(240, 87, 138);
    }

    & .imginicio {
        width: 400px;
    }

    & .sec {
        color: $colortext;
        margin: 5%;
        padding: 0.5%;
        font-size: 55px;
        letter-spacing: 20px;
        width: auto;
        text-align: center;
        font-family: $textFont;
    }

    .sec:hover {
        color: rgb(240, 87, 138);
    }
}

/*********** index para 475px **********/
@media (max-width: 475px) {
    .inicio {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        & .carta {
            flex-direction: column;
            width: 80vw;
            height: 70vw;
        }
    
        & .imginicio {
            width: 300px;
        }
    
        & .sec {
            font-size: 35px;
            letter-spacing: 5px;
        }
    
        .sec:hover {
            color: rgb(240, 87, 138);
        }
    }

}
