/**********FONDOS**********/
$bgcolor1:#1f2023;
$bgcolor2:#393b43;
$bgcolor3: #27282D;

/**********SOMBREADOS**********/
$shadow10px: 0 0 10px cornsilk;
$hoverShadow20px: 0 0 20px rgb(240, 87, 138);

/**********TEXTOS**********/
$colortext:azure;
$textFont: 'Luckiest Guy', cursive;