.wallets {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #27282D;
    width: 100%;

    & h2 {
        color: azure;
        font-size: 55px;
        letter-spacing: 10px;
        word-spacing: 30px;
        font-family: 'Luckiest Guy', cursive;
        margin: 2% 2% 2% 2%;
    }

    & .sec {
        display: flex;
        flex-direction: row;
        width: 100%;

        & .card {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            font-family: 'Luckiest Guy', cursive;
            color: azure;
            letter-spacing: 2px;
            width: 15vw;
            margin: 2% 2% 2% 2%;
            padding: 1%;
            border-radius: 20px;
            background-color: #27282D;
            box-shadow: 0 0 15px cornsilk;
            border-collapse: collapse;

            & p {
                width: 12vw;
                font-size: 1.1vw;
            }

            & img {
                border-radius: 20px;
                width: 12vw;
                height: 11vw;
            }

            & a {
                text-decoration: none;
                color: azure;
                width: 125px;
                height: 40px;
                border-radius: 10px;
                box-shadow: 0 0 10px cornsilk;
                border-collapse: collapse;
                padding: 10px;
            }

            a:hover {
                transform: scale(1.05);
                background: #393b43;
                box-shadow: 0 0 20px rgb(240, 87, 138);
            }
        }

        .card:hover {
            transform: scale(1.05);
            background: #393b43;
            box-shadow: 0 0 20px rgb(240, 87, 138);
        }
    }
}